.flat {
  flex-basis: calc(50% - 2 * 10px);
  margin: 10px;
}

.flat-picture {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.flat-title {
  margin-top: 10px;
  font-family: "Helvetica";
}